<!-- templates/index.html uses base as a base template -->
{% extends "base.html" %}
{% block content %}
    <!-- Main heading of the page
     in HTML we have 6 levels of headings, 1 is the biggest and 6 the smallest and least important-->
    <h1>How are you feeling today?</h1>

    <!-- This start form that send data to the server when it is submitted-->
    <form action="/submit" method="POST">

        <!--This is used to label the form and give it an id-->
        <label for="mood">Select your mood:</label>

        <!--This start a dropdown menu, it's a form input
        name is the name of the response, when form is submittes chosen option is sent with 'name='
        id is used to connect it with label tag and css/JS scripts
        it option has a value it is the value that is sent as response and also a text, it is what users see-->
        <select name="mood" id="mood">
            <option value="😁 Happy">😁 Happy</option>
            <option value="☹️ Sad">☹️ Sad</option>
            <option value="😴 Tired">😴 Tired</option>
            <option value="😤 Angry">😤 Angry</option>
            <option value="🤩 Excited">🤩 Excited</option>
        </select>

        <!-- Create a button to submit the form
         type=submit tells the browser to submit form when button is clicked-->
         <button type="submit">Submit</button>
    </form>

    <!-- Section to show previously submitted moods-->
     <h2>Your Mood History:</h2>
     <!--ul is for unordered list and it is used to create a bullet points list-->
     <ul id="history">
            <!--This is Flask for do something for each entry in history, it is followed by some html action and it ends with  -->
            {% for entry in history %}
                <!--Show each founded entry in history like a list item (bullet point)-->
                <li>{{entry}}</li>
            {% endfor %}
     </ul>
{% endblock %}